<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanojo.mapper.si.JobAssemblyMapper">
    <select id="list" resultType="com.kanojo.domain.si.JobAssembly">
        select * from job_assembly
        <where>
            <if test="name != null">name like #{name}</if>
            <if test="oneStartTime != null">and start_time &gt;= #{oneStartTime}</if>
            <if test="oneEndTime != null">and start_time &lt;= #{oneEndTime}</if>
            <if test="twoStartTime != null">and end_time &gt;= #{twoStartTime}</if>
            <if test="twoEndTime != null">and end_time &lt;= #{twoEndTime}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>

    <update id="update">
        update job_assembly set
        <if test="name != null">name = #{name},</if>
        <if test="productionNumber != null">production_number = #{productionNumber},</if>
        <if test="productionInfo != null">production_info = #{productionInfo},</if>
        <if test="note != null">note = #{note}</if>
        where id = ${id};
    </update>
</mapper>
