<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanojo.mapper.si.QualityInspectionStandardsMapper">
    <select id="list" resultType="com.kanojo.domain.si.QualityInspectionStandards">
        select * from quality_inspection_standards
        <where>
            <if test="name != null">name like #{name}</if>
            <if test="checkout != null">and checkout = #{checkout}</if>
            <if test="checkoutType != null">and checkout_type = #{checkoutType}</if>
        </where>
    </select>

    <update id="update">
        update quality_inspection_standards set
        <if test="name != null">name = #{name},</if>
        <if test="checkoutType != null">checkout_type = #{checkoutType},</if>
        <if test="standardValueUp != null">standard_value_up = #{standardValueUp},</if>
        <if test="standardValueDown != null">standard_value_down = #{standardValueDown},</if>
        <if test="note != null">note = #{note}</if>
        where id = #{id};
    </update>
</mapper>
